html {
  display: flex;
  min-width: fit-content;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex: 1;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #7f7f7f;
  padding: 20px;
}

canvas {
  border: 2px solid #7f7f7f;
  user-select: none;
}

.landscape-warning {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 70%);
  flex-direction: column;
}

@media screen and (max-width: 570px) and (orientation: portrait) {
  .landscape-warning {
    display: flex;
  }
}

h1 {
  margin-bottom: 30px;
  font-size: 35px;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 580px) and (orientation: landscape) {
  h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.canvas-container {
  user-select: none;
}

.canvas-buttons {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.canvas-buttons:first-item {
  display: flex;
  justify-content: flex-start;
}

.canvas-buttons:last-item {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 5px 10px;
  background-color: #7f7f7f;
  border: 0;
  color: white;
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.moves {
  font-size: 12px;
}
